<a href="https://colab.research.google.com/github/wilsondel/Python-Game/blob/master/libraries_python_first_close.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
series = pd.Series([5,10,9,4,2,6])
series

0     5
1    10
2     9
3     4
4     2
5     6
dtype: int64

In [4]:
type(series)

pandas.core.series.Series

In [5]:
series[3]

4

In [7]:
cad = pd.Series(['w','i','l','s','o','n'])
cad

0    w
1    i
2    l
3    s
4    o
5    n
dtype: object

In [8]:
list_my= ['Hello','World','Robotic']
df = pd.DataFrame(list_my)
print(list_my)
print(df)

['Hello', 'World', 'Robotic']
         0
0    Hello
1    World
2  Robotic

In [11]:
data = {'name': ['wilson','sofia','arturo','pepe'], 
        'age': [17,10,27,36], 
        'Country': ['mx','col','ar','us']}
df = pd.DataFrame(data)
df

     name  age Country
0  wilson   17      mx
1   sofia   10     col
2  arturo   27      ar
3    pepe   36      us